body{
    background-color: #acbdc2;
    font-size: 18px;
}
h2{
    text-align: center;
    text-decoration: underline;
    background-color: black;
    color: white;
}
#line .image img{
    width: 150px;
    height: 150px;
    margin-left: 550px;

}
#line .para{
    padding-top: 20px;
}
.info{
    align-items: center;
}
.list ul li{
    font-style: italic;
}