body{
    background-color: #e35d5d;
    font-size: 18px;
}
h2{
    text-align: center;
    text-decoration: underline;
    font-size: 20px;
}
#line .image img{
    width: 150px;
    height: 150px;
    padding: 0px;
    float: left;

}
#line .para{
    padding-top: 20px;
}
.list ul li{
    font-style: italic;
}